<div class="col-10 container text-center">
  <div class="mt-4">
    <h1> Berichte </h1>
  </div>

  <label for="which_report">Auswahl:</label>
  <select class="form-control" id="which_report" name="which_report">
    {% for report in player["Berichte"] %}
      <option value="{{ report["bericht"] }}">{{ report["date"] }}</option>
    {% endfor %}
  </select>

  <div class="card"">
    <div class="card-body">
      <p class="card-text"><span id="selected_report_value"> {{ player["Berichte"][0]["bericht"] }} </span> </p>
    </div>
  </div>

  <script type="text/javascript">
      document.getElementById("which_report").addEventListener("change", function() {
        var selectedValue = document.getElementById("which_report").value;
        document.getElementById("selected_report_value").innerText = selectedValue;
      });
  </script>
  
  
  <div class="mt-4">
    <h3> Neuer Bericht </h3>
  </div>
  <form method="post">
    <div class="form-group">
      <textarea class="form-control" id="new_report_text" rows="3" name="new_report_text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="save_report" value="save">Bericht speichern</button>
  </form>
</div>