<div class="mt-4">
  <h2> 
    Eigene Spieler
    <form method="post">
      <button type="submit" class="btn btn-primary" name="new_player" value="own">Spieler hinzufügen</button>
    </form>
  </h2>
</div>
<div class="mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Geburtsdatum</th>
      </tr>
    </thead>
    <tbody>
      {% for player in team["players"] %}
        <tr>
          <td><form method="post">
            <button type="submit" class="btn btn-danger" name="delete_player" value={{ player["Vorname"]+"_"+ player["Nachname"]}}>-</button>
          </form></td>
          <td><p><a class="link-opacity-100-hover" href="/{{team["name"]}}/player/{{ player["Vorname"] }}_{{ player["Nachname"] }}">Link</a></p></td>
          <td>{{ player["Vorname"] }}</td>
          <td>{{ player["Nachname"] }}</td>
          <td>{{ player["Geburtsdatum"] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>