<div class="mt-4">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <h2> 
    Eigene Spieler
  </h2>
  <form method="post">
    <button type="submit" class="btn btn-primary" name="new_player" value="own">Spieler hinzufügen</button>
  </form>
</div>
<div class="mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Geburtsdatum</th>
        <th scope="col">Rating</th>
      </tr>
      <tr>
        <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col"> </th>
        <th scope="col">
          <form style="display: inline-block; margin-right: 4px;" method="post">
            <button style="font-size: 12px; width: 24px; height: 24px; border: none; background-color: #f0f0f0; color: #333; cursor: pointer; border-radius: 4px;" type="submit" name="sort_players" value="own_vorn_inc">
              ▲
            </button>
          </form>
              <form style="display: inline-block; margin-right: 4px;" method="post">
                <button style="font-size: 12px; width: 24px; height: 24px; border: none; background-color: #f0f0f0; color: #333; cursor: pointer; border-radius: 4px;" type="submit" name="sort_players" value="own_vorn_dec">
              ▼
            </button>
          </form>
        </th>
        
        <th scope="col">
          <form style="display: inline-block; margin-right: 4px;" method="post">
            <button style="font-size: 12px; width: 24px; height: 24px; border: none; background-color: #f0f0f0; color: #333; cursor: pointer; border-radius: 4px;" type="submit" name="sort_players" value="own_nachn_inc">
              ▲
            </button>
          </form>
              <form style="display: inline-block; margin-right: 4px;" method="post">
                <button style="font-size: 12px; width: 24px; height: 24px; border: none; background-color: #f0f0f0; color: #333; cursor: pointer; border-radius: 4px;" type="submit" name="sort_players" value="own_nachn_dec">
              ▼
            </button>
          </form>
        </th>
        
        <th scope="col">
          <form style="display: inline-block; margin-right: 4px;" method="post">
            <button style="font-size: 12px; width: 24px; height: 24px; border: none; background-color: #f0f0f0; color: #333; cursor: pointer; border-radius: 4px;" type="submit" name="sort_players" value="own_gebdat_inc">
              ▲
            </button>
          </form>
              <form style="display: inline-block; margin-right: 4px;" method="post">
                <button style="font-size: 12px; width: 24px; height: 24px; border: none; background-color: #f0f0f0; color: #333; cursor: pointer; border-radius: 4px;" type="submit" name="sort_players" value="own_gebdat_dec">
              ▼
            </button>
          </form>
        </th>
        
        <th scope="col">
          <form style="display: inline-block; margin-right: 4px;" method="post">
            <button style="font-size: 12px; width: 24px; height: 24px; border: none; background-color: #f0f0f0; color: #333; cursor: pointer; border-radius: 4px;" type="submit" name="sort_players" value="own_rating_inc">
              ▲
            </button>
          </form>
              <form style="display: inline-block; margin-right: 4px;" method="post">
                <button style="font-size: 12px; width: 24px; height: 24px; border: none; background-color: #f0f0f0; color: #333; cursor: pointer; border-radius: 4px;" type="submit" name="sort_players" value="own_rating_dec">
              ▼
            </button>
          </form>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
        <tr>
          <td><form method="post">
            <button type="submit" class="btn btn-danger" name="delete_player" value={{ player["Vorname"]+"_"+ player["Nachname"]}}>
              -
            </button>
          </form></td>
          <td
            ><a href="{{ "/"+team["id"]+"/player/"+player["Vorname"]+"_"+player["Nachname"]+"/edit" }}" class="btn btn-primary">
              <i style="font-size:24px" class="fa">&#xf040;</i>
            </a>
          </td>
          <td>
            <a href="/{{team["name"]}}/player/{{ player["Vorname"] }}_{{ player["Nachname"] }}" class="btn btn-primary">
              <i style="font-size:24px" class="fa">&#xf15b;</i>
            </a>
          </td>
          <td>{{ player["Vorname"] }}</td>
          <td>{{ player["Nachname"] }}</td>
          <td>{{ player["Geburtsdatum"] }}</td>
          <td>{{ player["Rating"] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>