<!DOCTYPE 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      #head {
        object-fit:cover;
        width:100%;
      }

      .mystyle{
       color: red;
       }
    </style>
  </head>

  <body>
  <br>
  <form method="post">
      <div class="container text-center">
        <button type="submit" class="btn btn-primary" name="save_formation" value="save"}>Aufstellung speichern</button>
      </div>
      <br>
    
    <div class="container text-center">
      <div class="row justify-content-md-center">

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[0] }}">
          <select class="form-control" id="LS1" name="LS1">
            <option value="{{ team["formation"]["LS1"].split("_")[0]+"_"+team["formation"]["LS1"].split("_")[1] if team["formation"]["LS1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LS1"].split("_")[0][0]+"."+ team["formation"]["LS1"].split("_")[1] if team["formation"]["LS1"] != "" else "----"}}
            </option>
            
            {% if team["formation"]["LS1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[1] }}">
          <select class="form-control" id="ST1" name="ST1">
            <option value="{{ team["formation"]["ST1"].split("_")[0]+"_"+team["formation"]["ST1"].split("_")[1] if team["formation"]["ST1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ST1"].split("_")[0][0]+"."+ team["formation"]["ST1"].split("_")[1] if team["formation"]["ST1"] != "" else "----"}}
            </option>

            {% if team["formation"]["ST1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        

        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[2] }}">
          <select class="form-control" id="RS1" name="RS1">
            <option value="{{ team["formation"]["RS1"].split("_")[0]+"_"+team["formation"]["RS1"].split("_")[1] if team["formation"]["RS1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RS1"].split("_")[0][0]+"."+ team["formation"]["RS1"].split("_")[1] if team["formation"]["RS1"] != "" else "----"}}
            </option>

            {% if team["formation"]["RS1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
        
      </div>

      <div class="row justify-content-md-center">

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[3] }}">
          <select class="form-control" id="LS2" name="LS2">
            <option value="{{ team["formation"]["LS2"].split("_")[0]+"_"+team["formation"]["LS2"].split("_")[1] if team["formation"]["LS2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LS2"].split("_")[0][0]+"."+ team["formation"]["LS2"].split("_")[1] if team["formation"]["LS2"] != "" else "----"}}
            </option>

            {% if team["formation"]["LS2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      

      
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[4] }}">
          <select class="form-control" id="ST2" name="ST2">
            <option value="{{ team["formation"]["ST2"].split("_")[0]+"_"+team["formation"]["ST2"].split("_")[1] if team["formation"]["ST2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ST2"].split("_")[0][0]+"."+ team["formation"]["ST2"].split("_")[1] if team["formation"]["ST2"] != "" else "----"}}
            </option>

            {% if team["formation"]["ST2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
     

      
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[5] }}">
          <select class="form-control" id="RS2" name="RS2">
            <option value="{{ team["formation"]["RS2"].split("_")[0]+"_"+team["formation"]["RS2"].split("_")[1] if team["formation"]["RS2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RS2"].split("_")[0][0]+"."+ team["formation"]["RS2"].split("_")[1] if team["formation"]["RS2"] != "" else "----"}}
            </option>

            {% if team["formation"]["RS2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
      
      </div>

      <div class="row justify-content-md-center mb-4">

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[6] }}">
          <select class="form-control" id="LS3" name="LS3">
            <option value="{{ team["formation"]["LS3"].split("_")[0]+"_"+team["formation"]["LS3"].split("_")[1] if team["formation"]["LS3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LS3"].split("_")[0][0]+"."+ team["formation"]["LS3"].split("_")[1] if team["formation"]["LS3"] != "" else "----"}}
            </option>

            {% if team["formation"]["LS3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        

        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[7] }}">
          <select class="form-control" id="ST3" name="ST3">
            <option value="{{ team["formation"]["ST3"].split("_")[0]+"_"+team["formation"]["ST3"].split("_")[1] if team["formation"]["ST3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ST3"].split("_")[0][0]+"."+ team["formation"]["ST3"].split("_")[1] if team["formation"]["ST3"] != "" else "----"}}
            </option>

            {% if team["formation"]["ST3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
       

        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[8] }}">
          <select class="form-control" id="RS3" name="RS3">
            <option value="{{ team["formation"]["RS3"].split("_")[0]+"_"+team["formation"]["RS3"].split("_")[1] if team["formation"]["RS3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RS3"].split("_")[0][0]+"."+ team["formation"]["RS3"].split("_")[1] if team["formation"]["RS3"] != "" else "----"}}
            </option>

            {% if team["formation"]["RS3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
       
      </div>





      <div class="row justify-content-md-center">

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[9] }}">
          <select class="form-control" id="ZML1" name="ZML1">
            <option value="{{ team["formation"]["ZML1"].split("_")[0]+"_"+team["formation"]["ZML1"].split("_")[1] if team["formation"]["ZML1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZML1"].split("_")[0][0]+"."+ team["formation"]["ZML1"].split("_")[1] if team["formation"]["ZML1"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZML1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[10] }}">
          <select class="form-control" id="ZMR1" name="ZMR1">
            <option value="{{ team["formation"]["ZMR1"].split("_")[0]+"_"+team["formation"]["ZMR1"].split("_")[1] if team["formation"]["ZMR1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZMR1"].split("_")[0][0]+"."+ team["formation"]["ZMR1"].split("_")[1] if team["formation"]["ZMR1"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZMR1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
        
      </div>
      
      <div class="row justify-content-md-center">

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[11] }}">
          <select class="form-control" id="ZML2" name="ZML2">
            <option value="{{ team["formation"]["ZML2"].split("_")[0]+"_"+team["formation"]["ZML2"].split("_")[1] if team["formation"]["ZML2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZML2"].split("_")[0][0]+"."+ team["formation"]["ZML2"].split("_")[1] if team["formation"]["ZML2"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZML2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[12] }}">
          <select class="form-control" id="ZMR2" name="ZMR2">
            <option value="{{ team["formation"]["ZMR2"].split("_")[0]+"_"+team["formation"]["ZMR2"].split("_")[1] if team["formation"]["ZMR2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZMR2"].split("_")[0][0]+"."+ team["formation"]["ZMR2"].split("_")[1] if team["formation"]["ZMR2"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZMR2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
      </div>

      <div class="row justify-content-md-center mb-4">

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[13] }}">
          <select class="form-control" id="ZML3" name="ZML3">
            <option value="{{ team["formation"]["ZML3"].split("_")[0]+"_"+team["formation"]["ZML3"].split("_")[1] if team["formation"]["ZML3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZML3"].split("_")[0][0]+"."+ team["formation"]["ZML3"].split("_")[1] if team["formation"]["ZML3"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZML3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[14] }}">
          <select class="form-control" id="ZMR3" name="ZMR3">
            <option value="{{ team["formation"]["ZMR3"].split("_")[0]+"_"+team["formation"]["ZMR3"].split("_")[1] if team["formation"]["ZMR3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZMR3"].split("_")[0][0]+"."+ team["formation"]["ZMR3"].split("_")[1] if team["formation"]["ZMR3"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZMR3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col col-lg-2"></div>
      </div>






      <div class="row justify-content-md-center">
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[15] }}">
          <select class="form-control" id="LV1" name="LV1">
            <option value="{{ team["formation"]["LV1"].split("_")[0]+"_"+team["formation"]["LV1"].split("_")[1] if team["formation"]["LV1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LV1"].split("_")[0][0]+"."+ team["formation"]["LV1"].split("_")[1] if team["formation"]["LV1"] != "" else "----"}}
            </option>

            {% if team["formation"]["LV1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[16] }}">
          <select class="form-control" id="LIV1" name="LIV1">
            <option value="{{ team["formation"]["LIV1"].split("_")[0]+"_"+team["formation"]["LIV1"].split("_")[1] if team["formation"]["LIV1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LIV1"].split("_")[0][0]+"."+ team["formation"]["LIV1"].split("_")[1] if team["formation"]["LIV1"] != "" else "----"}}
            </option>

            {% if team["formation"]["LIV1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[17] }}">
          <select class="form-control" id="ZIV1" name="ZIV1">
            <option value="{{ team["formation"]["ZIV1"].split("_")[0]+"_"+team["formation"]["ZIV1"].split("_")[1] if team["formation"]["ZIV1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZIV1"].split("_")[0][0]+"."+ team["formation"]["ZIV1"].split("_")[1] if team["formation"]["ZIV1"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZIV1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[18] }}">
          <select class="form-control" id="RIV1" name="RIV1">
            <option value="{{ team["formation"]["RIV1"].split("_")[0]+"_"+team["formation"]["RIV1"].split("_")[1] if team["formation"]["RIV1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RIV1"].split("_")[0][0]+"."+ team["formation"]["RIV1"].split("_")[1] if team["formation"]["RIV1"] != "" else "----"}}
            </option>

            {% if team["formation"]["RIV1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[19] }}">
          <select class="form-control" id="RV1" name="RV1">
            <option value="{{ team["formation"]["RV1"].split("_")[0]+"_"+team["formation"]["RV1"].split("_")[1] if team["formation"]["RV1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RV1"].split("_")[0][0]+"."+ team["formation"]["RV1"].split("_")[1] if team["formation"]["RV1"] != "" else "----"}}
            </option>

            {% if team["formation"]["RV1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
      </div>

      <div class="row justify-content-md-center">
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[20] }}">
          <select class="form-control" id="LV2" name="LV2">
            <option value="{{ team["formation"]["LV2"].split("_")[0]+"_"+team["formation"]["LV2"].split("_")[1] if team["formation"]["LV2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LV2"].split("_")[0][0]+"."+ team["formation"]["LV2"].split("_")[1] if team["formation"]["LV2"] != "" else "----"}}
            </option>

            {% if team["formation"]["LV2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[21] }}">
          <select class="form-control" id="LIV2" name="LIV2">
            <option value="{{ team["formation"]["LIV2"].split("_")[0]+"_"+team["formation"]["LIV2"].split("_")[1] if team["formation"]["LIV2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LIV2"].split("_")[0][0]+"."+ team["formation"]["LIV2"].split("_")[1] if team["formation"]["LIV2"] != "" else "----"}}
            </option>

            {% if team["formation"]["LIV2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[22] }}">
          <select class="form-control" id="ZIV2" name="ZIV2">
            <option value="{{ team["formation"]["ZIV2"].split("_")[0]+"_"+team["formation"]["ZIV2"].split("_")[1] if team["formation"]["ZIV2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZIV2"].split("_")[0][0]+"."+ team["formation"]["ZIV2"].split("_")[1] if team["formation"]["ZIV2"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZIV2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[23] }}">
          <select class="form-control" id="RIV2" name="RIV2">
            <option value="{{ team["formation"]["RIV2"].split("_")[0]+"_"+team["formation"]["RIV2"].split("_")[1] if team["formation"]["RIV2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RIV2"].split("_")[0][0]+"."+ team["formation"]["RIV2"].split("_")[1] if team["formation"]["RIV2"] != "" else "----"}}
            </option>

            {% if team["formation"]["RIV2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[24] }}">
          <select class="form-control" id="RV2" name="RV2">
            <option value="{{ team["formation"]["RV2"].split("_")[0]+"_"+team["formation"]["RV2"].split("_")[1] if team["formation"]["RV2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RV2"].split("_")[0][0]+"."+ team["formation"]["RV2"].split("_")[1] if team["formation"]["RV2"] != "" else "----"}}
            </option>

            {% if team["formation"]["RV2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[25] }}">
          <select class="form-control" id="LV3" name="LV3">
            <option value="{{ team["formation"]["LV3"].split("_")[0]+"_"+team["formation"]["LV3"].split("_")[1] if team["formation"]["LV3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LV3"].split("_")[0][0]+"."+ team["formation"]["LV3"].split("_")[1] if team["formation"]["LV3"] != "" else "----"}}
            </option>

            {% if team["formation"]["LV3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[26] }}">
          <select class="form-control" id="LIV3" name="LIV3">
            <option value="{{ team["formation"]["LIV3"].split("_")[0]+"_"+team["formation"]["LIV3"].split("_")[1] if team["formation"]["LIV3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["LIV3"].split("_")[0][0]+"."+ team["formation"]["LIV3"].split("_")[1] if team["formation"]["LIV3"] != "" else "----"}}
            </option>

            {% if team["formation"]["LIV3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[27] }}">
          <select class="form-control" id="ZIV3" name="ZIV3">
            <option value="{{ team["formation"]["ZIV3"].split("_")[0]+"_"+team["formation"]["ZIV3"].split("_")[1] if team["formation"]["ZIV3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["ZIV3"].split("_")[0][0]+"."+ team["formation"]["ZIV3"].split("_")[1] if team["formation"]["ZIV3"] != "" else "----"}}
            </option>

            {% if team["formation"]["ZIV3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[28] }}">
          <select class="form-control" id="RIV3" name="RIV3">
            <option value="{{ team["formation"]["RIV3"].split("_")[0]+"_"+team["formation"]["RIV3"].split("_")[1] if team["formation"]["RIV3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RIV3"].split("_")[0][0]+"."+ team["formation"]["RIV3"].split("_")[1] if team["formation"]["RIV3"] != "" else "----"}}
            </option>

            {% if team["formation"]["RIV3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[29] }}">
          <select class="form-control" id="RV3" name="RV3">
            <option value="{{ team["formation"]["RV3"].split("_")[0]+"_"+team["formation"]["RV3"].split("_")[1] if team["formation"]["RV3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["RV3"].split("_")[0][0]+"."+ team["formation"]["RV3"].split("_")[1] if team["formation"]["RV3"] != "" else "----"}}
            </option>

            {% if team["formation"]["RV3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
      </div>






      <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
         <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[30] }}">
          <select class="form-control" id="TW1" name="TW1">
            <option value="{{ team["formation"]["TW1"].split("_")[0]+"_"+team["formation"]["TW1"].split("_")[1] if team["formation"]["TW1"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["TW1"].split("_")[0][0]+"."+ team["formation"]["TW1"].split("_")[1] if team["formation"]["TW1"] != "" else "----"}}
            </option>

            {% if team["formation"]["TW1"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

         <div class="col col-lg-2"></div>
         <div class="col col-lg-2"></div>
      </div>

      <div class="row justify-content-md-center">
         <div class="col col-lg-2"></div>
         <div class="col col-lg-2"></div>
        
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[31] }}">
          <select class="form-control" id="TW2" name="TW2">
            <option value="{{ team["formation"]["TW2"].split("_")[0]+"_"+team["formation"]["TW2"].split("_")[1] if team["formation"]["TW2"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["TW2"].split("_")[0][0]+"."+ team["formation"]["TW2"].split("_")[1] if team["formation"]["TW2"] != "" else "----"}}
            </option>

            {% if team["formation"]["TW2"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

         <div class="col col-lg-2"></div>
         <div class="col col-lg-2"></div>
      </div>

      <div class="row justify-content-md-center mb-4">
         <div class="col col-lg-2"></div>
         <div class="col col-lg-2"></div>
        <div class="col col-lg-2" style="border:6px solid {{ colors_formation[32] }}">
          <select class="form-control" id="TW3" name="TW3">
            <option value="{{ team["formation"]["TW3"].split("_")[0]+"_"+team["formation"]["TW3"].split("_")[1] if team["formation"]["TW3"] != "" else ""}}" class="text-center" selected>
              {{ team["formation"]["TW3"].split("_")[0][0]+"."+ team["formation"]["TW3"].split("_")[1] if team["formation"]["TW3"] != "" else "----"}}
            </option>

            {% if team["formation"]["TW3"] != "" %}
              <option value="" class="text-center">----</option>
            {% endif %}

            {% for p in players %}
              {% set ns = namespace(found=false) %}
              {% for pos in team["formation"] %}
                {% if team["formation"][pos] == (p["Vorname"]+"_"+p["Nachname"]) %}
                {%- set ns.found = true %}
                {% endif %}
              {% endfor %}
              {% if not ns.found %}
                <option value="{{ p["Vorname"]+"_"+p["Nachname"] }}">
                  {{ p["Vorname"][0]+". "+p["Nachname"] }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
         <div class="col col-lg-2"></div>
         <div class="col col-lg-2"></div>
      </div>
    </div>
  </form>
  </body>

