<!DOCTYPE html>
<html lang="en">
<head>
  <style>
      table {
          border-collapse: collapse;
          width: 100%;
          overflow-x: auto;
      }
      th, td {
          border: 1px solid #ddd;
          padding: 8px;
      }
      th {
          position: sticky;
          top: 0;
          background-color: white;
      }
      .sort-btn {
          padding: 0;
          width: 24px;
          text-align: center;
      }
      .sort-btn button {
          font-size: 12px;
          width: 24px;
          height: 24px;
          border: none;
          background-color: #f0f0f0;
          color: #333;
          cursor: pointer;
          border-radius: 4px;
      }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  
<body>
  <div class="mt-4">
    <h2> 
      Externe Spieler
    </h2>
    <form method="post">
      <button type="submit" class="btn btn-primary" name="new_player" value="external">Spieler hinzufügen</button>
    </form>
    
  <div class="mt-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"> </th>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
          <th scope="col">Position</th>
          <th scope="col">Verein</th>
          <th scope="col">Geburtsdatum</th>
          <th scope="col">Rating</th>
        </tr>
        
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_vorn.inc">
                      ▲
                  </button>
              </div>
              
            </form>
            
            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_vorn.dec">
                      ▼
                  </button>
              </div>
            </form>
          </th>
          
          <th scope="col">
            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_nachn.inc">
                      ▲
                  </button>
              </div>

            </form>

            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_nachn.dec">
                      ▼
                  </button>
              </div>
            </form>
          </th>

          <th scope="col">
            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_pos.inc">
                      ▲
                  </button>
              </div>

            </form>

            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_pos.dec">
                      ▼
                  </button>
              </div>
            </form>
          </th>

          <th scope="col">
            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_verein.inc">
                      ▲
                  </button>
              </div>

            </form>

            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_verein.dec">
                      ▼
                  </button>
              </div>
            </form>
          </th>
          
          <th scope="col">
            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_gebdat.inc">
                      ▲
                  </button>
              </div>

            </form>

            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_gebdat.dec">
                      ▼
                  </button>
              </div>
            </form>
          </th>
  
          <th scope="col">
            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_rating.inc">
                      ▲
                  </button>
              </div>

            </form>

            <form style="display: inline-block; margin-right: 4px;" method="post">
              <div class="sort-btn">
                  <button type="submit" name="sort_players" value="ext_rating.dec">
                      ▼
                  </button>
              </div>
            </form>
          </th>
  
  
  
  
  
        </tr>
      </thead>
      
      <tbody>
        {% for player in externals %}
          <tr>
            <td style="display: flex; align-items: center;">
              <form method="post" style="margin-right: 4px;">
                <button type="submit" class="btn btn-danger" name="delete_external_player" value="{{ player['Vorname']+'_'+ player['Nachname'] }}">
                  <i style="font-size:24px" class="fa">&#xf1f8;</i>
                </button>
              </form>
  
              <form action="{{ '/'+team['id']+'/external/'+player['Vorname']+'_'+player['Nachname']+'/edit' }}" method="get" style="margin-right: 4px;">
                <button type="submit" class="btn btn-primary">
                  <i style="font-size:24px" class="fa">&#xf044;</i>
                </button>
              </form>
  
              <form action="/{{team['name']}}/external/{{ player['Vorname'] }}_{{ player['Nachname'] }}" method="get">
                <button type="submit" class="btn btn-primary">
                  <i style="font-size:24px" class="fa">&#xf06e;</i>
                </button>
              </form>

              <form method="post" style="margin-left: 4px;">
                <button type="submit" class="btn btn-primary" name="sign_external_player" value="{{ player['Vorname']+'_'+ player['Nachname'] }}">
                  <i style="font-size:24px" class="fa">&#xf2b5;</i>
                </button>
              </form>
            </td>
  
            <td>{{ player["Vorname"] }}</td>
            <td>{{ player["Nachname"] }}</td>
            <td>{{ player["Position"] }}</td>
            <td>{{ player["Verein"] }}</td>
            <td>{{ player["Geburtsdatum"] }}</td>
            <td>{{ player["Rating"] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</body>