<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/home">
    <img src="/static/HSVLogo.png" class="d-inline-block align-text-top" width="30" height=30>Scouting
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-autp">
      
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Teams
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for team in teams %}
            {% if team["id"] in rights %}
            <a class="nav-link" href="/{{ team["id"] }}">{{ team["id"] }}</a>
            {% else %}
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ team["id"] }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>